*{
    margin: 0;
    box-sizing: 0;
    padding: 0;
}

body{

    display: flex;
    width: 100vw;
    height: auto;
    flex-direction: column ;

}

header{
    background-color: chocolate;
    width: 97%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1%;
    padding-left: 2%;
    height: 10vh;
}

input{
    height: 30px;
}

main{
        background-color: white;
        width: 100%;
        height: 84vh;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
    row-gap: 25px;
    column-gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      
}

footer{
    background-color: rgb(50, 59, 62);
    width: 100%;
    height: 6vh;
    color: white;    
}

.video{
    height: 200px;
    width: 400px;
}

.texto{
    
    border: 2px solid green;
    font-size: 20px;
    text-align: center;
    height: 250px;
    width: 400px;
    border-radius: 8px;
    margin: 25px; 
}

@media screen and (min-device-width : 320px) and (max-device-width : 480px) {

        main {
         display: flex;
         flex-direction: column;
         align-items: center;
        }
      .video {
      width: 300px;
      }
       
footer{
    position: fixed;
    bottom: 0;
    left: 0;
}

      }

